############################
# macOS
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Common Package Formats
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.out
*.pid
*.seed
*.so
*.swo
*.swp
*.swn
*.swm

############################
# Logs and Databases
############################

*.log
*.sql
*.sqlite
*.sqlite3
*.tmp

############################
# IDEs and Editors
############################

.idea/
.vscode/
nbproject/
*.tsbuildinfo
.eslintcache
.node_history

############################
# Node.js
############################

node_modules/
lib-cov/
lcov.info
pids/
logs/
results/
dist/
build/
coverage/
yarn-error.log

############################
# Yarn (Berry)
############################

.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

############################
# Strapi
############################

.env
exports/
public/uploads/*
!public/uploads/.gitkeep
.strapi/
.strapi-updater.json
license.txt

############################
# Docker
############################

*.tar
*.img
.dockerignore
docker-compose.yml

############################
# Terraform
############################

*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
tfplan

############################
# Git
############################

*.orig